<!DOCTYPE html>
<html>
  <head>
    <title>P513PhotoTagging</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <!--<%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>-->

    <link href="https://fonts.googleapis.com/css?family=Leckerli+One" rel="stylesheet"> 
  </head>

  <body>
  	<header>
  		<div class="title">Where's Wally?</div>
  	</header>
    <%= yield %>
  </body>
</html>
