<div class="container">
	<div class="title">Select a puzzle</div>
	<% @puzzles.each do |p| %>
		<%=link_to puzzle_path(p) do %>
			<div class="miniature">
				<%= image_tag "#{p.id}_min.jpg" %>
			</div>
		<% end %>
	<% end %>
</div>