<%= javascript_include_tag "application" %>
<div class="puzzle_container">
	<div class="subtitle">Find Wally in the picture and submit your guess with left click</div>
	<div class="puzzle_picture">
		<!--<div id="image">-->
			<%= image_tag "#{@puzzle.id}.jpg", id: "image", :style => "width: #{@puzzle.width}px; display: block; margin-left: auto; margin-right: auto;" %>
		<!--</div>-->
	</div>
</div>